<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div *ngFor="let article of articles" class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Sale
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            [src]="apiUrl + '/articles/image/' + article.picture"
            height="180"
            width="170"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <p class="fw-bolder">{{ article.name }}</p>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <span class="font-size-sm success">{{ article.price }}Dh</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <button
                (click)="addOrder(article.id)"
                class="btn btn-outline-success mt-auto"
              >
                Commander
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="articles.length > 0">
      <h1 class="d-flex justify-content-center">Vide</h1>
    </div>
  </div>
</section>
